body {
	background-color: gray;
}
h1 {
	color: cyan;
}
h1:hover{
	cursor: default;
}
header {
	background-color: #557;
}
footer {  
	background-color: #557;
}
nav {
	background-color: #557;
}
a {
	color: black;
	padding: 3px;
	text-align: center;
}
a:hover{
	background-color: #59f;
	text-decoration: none;
}
.PLACEHOLDERprojects {
	height: 250px;
	width: 50px;
	border-radius: 10px;
	border: black solid 3px;
	background-color: #6af;
}
.projects {
	width: 75%;
	margin: 0 auto;
}